<h2>Akbar &amp; Dave's Surfing locations</h2>
<h3>Enter a new location:</h3>

<form action="/submit" method="POST">
	Name:
	<input type="text" name="name" value="" /><br /><br />

	Temperature:
	<input type="number" name="temperature" value="" /><br /><br />

	Conditions:
	<input type="text" name="conditions" value="" /><br /><br />

	<input type="submit" value="Submit" />
</form>

<br />
<a href="/locations">View all locations &gt;&gt;</a>