<h3>Welcome to Sinatra!</h3>
<form action="/submit" method="POST">
	Name:
	<input type="text" name="name" value="" /><br /><br />

	Temperature:
	<input type="number" name="temperature" value="" /><br /><br />

	Conditions:
	<input type="text" name="conditions" value="" /><br /><br />

	<input type="submit" value="Submit" />
</form>